.custom-contact-columns

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)
    color: $c7

    @media(max-width: 768px)
      padding-bottom: 2rem

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0

    &--option
      @extend .title--option

    &--active
      transform: translateY(0)
      opacity: 1

      @media(max-width: 768px)
        text-align: center

  &__row
    @extend .row
    margin-top: 4rem
    margin-right: 60px
    margin-left: 60px

    @media screen and (max-width: $screen-sm)
      margin: rem-calc(40) rem-calc(16)

  &__col-left, &__col-center, &__col-right
    @extend .col-sm-4

  &__col-right
    @media screen and (max-width: $screen-sm)
      margin-top: rem-calc(48)

  &__phone, &__email, &__hours, &__location
    display: flex
    align-items: center
    margin-bottom: 1.6rem

    &--icon
      margin-right: 1rem
      border-radius: 50%
      background: $c4
      width: 50px
      height: 50px

      svg
        fill: $c1

  &__phone
    &--icon
      padding: 14px
    &--number
      a
        color: $c7

  &__email
    &--icon
      padding: 16px 14px
    &--address
      a
        color: $c7

  &__hours
    &--icon
      padding: 12px

  &__location
    &--icon
      padding: 14px 17px
    &--address
      color: $c7

  &__map
    &--map
      border: none
      border-radius: 10px
