.custom-contact-columns

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)
    color: $c7

    @media(max-width: 768px)
      padding-bottom: 2rem

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0

    &--option
      @extend .title--option

    &--active
      transform: translateY(0)
      opacity: 1

      @media(max-width: 768px)
        text-align: center

  &__row
    @extend .row
    margin-top: 40px
    margin-right: 60px
    margin-left: 60px

    @media screen and (max-width: $screen-sm)
      margin: rem-calc(40) rem-calc(16)

  &__col-left
    @extend .col-sm-5
    @extend .col-sm-offset-1

  &__col-right
    @extend .col-sm-5
    width: 43.66667%
    @media screen and (max-width: $screen-sm)
      margin-top: rem-calc(48)
      width: 100%

  &__info-container
    // display: flex
    position: relative
    right: 64px
    justify-content: space-evenly
    margin-bottom: 30px

    @media(max-width: 768px)
      right: 0

  &__phone, &__email, &__hours, &__location
    display: flex
    align-items: center
    margin-bottom: 8px

    &--icon
      margin-right: 1rem
      border-radius: 50%
      background: $c4
      width: 40px
      height: 40px

      svg
        fill: $c1

  &__phone
    &--icon
      padding: 12px
    &--number
      a
        color: $c7

  &__email
    &--icon
      padding: 8px 12px
    &--address
      a
        color: $c7

  &__hours
    &--icon
      padding: 12px

  &__location
    &--icon
      padding: 12px 14px
    &--address
      color: $c7

  &__map
    position: relative
    right: 64px

    @media(max-width: 768px)
      right: 0

    &--map
      border: none
      border-radius: 10px
