.custom-contact-columns

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(90)

  &__title
    @extend .title

    &--option
      @extend .title--option

  &__row
    @extend .row

  &__col-left, &__col-center, &__col-right
    @extend .col-sm-4

  &__phone, &__email, &__hours, &__location
    display: flex

    &--icon
      border-radius: 50%
      background: $c4
      width: 40px
      height: 40px

      svg
        fill: $c1

  &__phone
    &--icon
      padding: 8px

  &__email
    &--icon
      padding: 12px 7px 8px

  &__hours
    &--icon
      padding: 8px

  &__location
    &--icon
      padding: 10px 12px 12px
