.custom-home-reviews
  &__bg
    background-position: center center
    background-size: cover

  &__container
    @extend .container-fluid
    padding-top: rem-calc(80)
    padding-bottom: rem-calc(80)

  &__title
    @extend .title
    margin-bottom: rem-calc(32)
