.custom-home-reviews
  @media(max-width: 768px)
    margin-top: 2rem

  &__slider
    position: relative
    height: 600px

    @media(max-width: 768px)
      height: 94vh

  &__slide
    background: #c2c0d6
    height: 600px

    @media(max-width: 768px)
      height: 80vh !important

  &__image
    background-repeat: no-repeat
    background-position: left
    background-size: contain
    height: 600px

    @media(max-width: 768px)
      background-image: none !important
      height: 600px

  &__bg
    background-position: center center
    background-size: cover

  &__container
    @extend .container-fluid
    position: absolute
    z-index: 95
    margin-right: auto
    margin-left: auto
    padding-top: rem-calc(60)
    width: 100%
    max-width: 100%

    @media(max-width: 768px)
      padding-top: 0

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin: 0 auto
    margin-bottom: rem-calc(32)
    max-width: 71.25rem

    @media(max-width: 768px)
      margin-top: 60px
      text-align: center

    &--active
      transform: translateY(0)
      opacity: 1

    p
      margin-top: 0

  &__testimonial
    @extend .col-sm-5
    @extend .col-sm-offset-5
    position: relative
    top: 240px
    transition: all 0.8s ease
    opacity: 0.64
    margin-left: 38%
    border-radius: 20px
    background: $c8-background
    padding: 24px 48px

    @media(max-width: 768px)
      top: 165px
      opacity: 1
      background: none

    &--active
      top: 255px
      opacity: 0

      @media(max-width: 768px)
        top: 165px
        opacity: 1


    &--text
      color: $c8
      font-size: 17px

    &--author
      padding-top: 1rem
      text-align: center
      letter-spacing: 2px
      color: $c3
      font-family: $font-family-sans-serif-option
      font-size: 34px

  &__next-arrow, &__prev-arrow
    position: absolute
    transition: all 0.8s ease
    opacity: 1
    z-index: 999
    width: 21px

    &:focus
      outline: none

    svg
      fill: $c3

    &--active
      opacity: 0

  &__next-arrow
    top: 315px
    right: 21%
    transition: all 0.8s ease

    &--active
      transition: all 0.8s ease

    @media(max-width: 768px)
      top: 250px
      right: 1%

  &__prev-arrow
    top: 310px
    left: 39%
    transform: rotate(180deg)
    transition: all 0.8s ease

    &--active
      transition: all 0.8s ease

    @media(max-width: 768px)
      top: 245px
      left: 1%
