@import './colors'

body
  font-size: 16px

*
  box-sizing: border-box

.image-compare-handle[data-v-2aa9daa6]
  width: 5px
  color: $c4

  svg
    background: $c4
    padding: 8px
    width: 25px
    height: 50px
    fill: $c1

.left
  svg
    margin-right: -11px
    border-top-left-radius: 90px
    border-bottom-left-radius: 90px

.right
  svg
    margin-left: -11px
    border-top-right-radius: 90px
    border-bottom-right-radius: 90px

.new-patient-btn
  transition: all 0.8s ease
  margin-right: 24px
  border: 1px solid $c4
  border-radius: 5px
  background: $c4
  padding: 8px 84px
  text-transform: uppercase
  color: $c1
  font-weight: 700

  &:hover
    border: 1px solid $c6
    background: $c1
    color: $c6
