// White
$c1: #ffffff

// Silver
$c2: #e6e7e8

// Squash
$c3: #f7931d

// Teal Blue
$c4: #00a79d

// Warm Purple
$c5: #91268f

// Slate Grey
$c6: #626366

// Charcoal Grey / Off Black
$c7: #3b3b3c

// Testimonial Grey
$c8: #323232
$c8-background: #f2f2f2

// Shining Patient Overlay
$c8-overlay: #d8d8d8
