.custom-home-financing
  &__bg
    background-position: center center
    background-size: cover

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin-bottom: rem-calc(60)

    &--active
      transform: translateY(0)
      opacity: 1

    @media(max-width: 768px)
      margin-bottom: 2rem
      text-align: center

  &__col
    &--left
      @extend .col-sm-6
      @extend .col-sm-offset-1
      display: flex
      padding-top: rem-calc(60)

      @media(max-width: 768px)
        display: block
        padding-top: 0

    &--right
      @extend .col-sm-5

  &__circle
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin: 1rem
    border-radius: 50%
    background: $c1
    padding: 2rem
    width: 220px
    height: 220px
    text-align: center

    @media(max-width: 768px)
      margin: 1rem auto

    &--active
      transform: translateY(0)
      opacity: 0.8


  &__icon
    width: 65px
    height: 80px

  &__content
    text-transform: uppercase
    color: $c5
    font-size: 16px

    span
      color: $c3
      font-size: 22px
      font-weight: 600

      @media(max-width: 768px)
        font-size: 18px
