.custom-home-financing
  &__bg
    background-position: center center
    background-size: cover

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)

  &__title
    @extend .title
    margin-bottom: rem-calc(60)

  &__col
    &--left
      @extend .col-sm-6
      @extend .col-sm-offset-1
      padding-top: rem-calc(60)

    &--right
      @extend .col-sm-5
