.tabs-about-office
  margin-bottom: 3rem

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(90)

    @media(max-width: 768px)
      padding-bottom: 2rem

  &__gallery-container
    display: flex
    flex-wrap: wrap

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0

    &--option
      @extend .title--option

    &--active
      transform: translateY(0)
      opacity: 1

    @media(max-width: 768px)
      text-align: center

  &__image
    margin: 6px 0.2%
    border-radius: 20px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 32.9%
    height: 350px

    @media(max-width: 768px)
      margin: 12px
      width: 95%
