.hero-home
  &__bg
    position: relative
    background-position: center center
    background-size: cover
    height: 80vh

  &__container
    position: absolute
    top: 65%
    left: 50%
    transform: translateX(-50%)
    text-align: center

  &__title
    @extend h1
    margin-bottom: rem-calc(36)
    text-transform: uppercase
    color: $c1
    font-weight: 600

  &__button
    @extend .button
