.block-flyers

  &__bg
    background-image: url('../static/background-home-pattern.jpg')
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(90)

    @media(max-width: 768px)
      padding-bottom: rem-calc(60)    

  &__container
    @extend .container-fluid

  &__container2
    @extend .row
    margin-right: auto
    margin-left: auto
    max-width: 80rem      

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0

    &--option
      @extend .title--option

    &--active
      transform: translateY(0)
      opacity: 1

    @media(max-width: 768px)
      text-align: center

  &__content
    margin: 3rem 2rem 2rem

    @media(max-width: 768px)
      margin: 2rem

  &__seperator
    display: flex
    justify-content: center
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin-top: rem-calc(30)

    &--active
      transform: translateY(0)
      opacity: 1

  &__orange-line
    background: $c3
    width: 100px
    height: 4px

  &__contentlistouter
    display: flex

    @media(max-width: 768px)
      flex-direction: column

  &__contentlist
    width: 50%
    padding: 10px 15px

    @media(max-width: 768px)
      padding: 10px 0px
      width: 100%


  img
    max-width: 100%    
