.navigation
  position: fixed
  top: 0
  left: 0
  transition: all .5s ease-in-out
  z-index: 9991
  width: 100%

  &--scrolled
    box-shadow: 0 2px 2px 1px $ol1
    background-color: $c1

  &__desktop
    @media screen and (max-width: $screen-sm)
      display: none

  &__mobile
    display: none
    @media screen and (max-width: $screen-sm)
      display: block

  &__container
    @extend .container-fluid

  &__icon
    display: inline-block
    margin: rem-calc(8) auto rem-calc(2)
    width: rem-calc(210)

    .navigation--scrolled &
      display: none

    &--option
      display: none

      .navigation--scrolled &
        display: inline-block

  &__links
    display: inline-block
    position: absolute
    top: 50%
    right: 16px
    transform: translateY(-50%)

  &__link
    @extend %p3
    margin: auto rem-calc(8)
    text-transform: uppercase
    letter-spacing: 1px
    color: $c1

    .navigation--scrolled &
      color: $c6

    a
      color: $c1

      &:hover
        color: $c3

      .navigation--scrolled &
        color: $c6

        &:hover
          color: $c3

    &--mobile
      margin-bottom: rem-calc(8)
      padding-bottom: rem-calc(8)

  &__button
    @extend .button
    transition: all 0.8s ease
    margin-right: rem-calc(24)
    margin-left: rem-calc(24)
    text-align: center
    background: $c4

  &__button:hover
    transform: scale(1.1)
    outline: solid 4px $c1

    .navigation--scrolled &
      border: 1px solid $c6

      &:hover
        border: 1px solid $c4
        color: $c1

  // -------- mobile --------

  &__menu
    position: absolute
    top: 50%
    right: rem-calc(16)
    transform: translateY(-50%)
    border-radius: 5px
    background-color: $c1
    padding: rem-calc(8) rem-calc(16)
    color: $c4

    .navigation--scrolled &
      background-color: $c1
      color: $c6

  &__phone
    a
      display: flex
      align-items: center
      justify-content: center
      padding: 10px 0

    .icon-container
      width: 20px
      height: 20px

    svg
      transition: all .8s ease
      fill: #91268f 

    span 
      color: #91268f
      padding-left: 5px 

  &__phonewhite
    svg
      fill: #fff 

    span 
      color: #fff      


