.custom-patients-steps

  &__bg
    background-image: url('../static/background-home-pattern.jpg')

  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0

    &--active
      transform: translateY(0)
      opacity: 1

    &--option
      @extend .title--option

    @media(max-width: 768px)
      text-align: center

  &__steps
    margin: 0 auto
    max-width: 900px

  &__step
    display: flex
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin: 2.6rem 0

    &:first-child > .custom-patients-steps__content
      align-self: center

    &:nth-child(2) > .custom-patients-steps__content
      margin-top: -10px

    &:nth-child(3)> .custom-patients-steps__content
      margin-top: 8px

    &--active
      transform: translateY(0)
      opacity: 1

  &__number
    display: inline-flex
    margin-right: 2rem
    border-radius: 50%
    background-color: $c3
    padding: 6px 18px
    width: 50px
    height: 50px
    color: $c1
    font-size: 26px

  &__content
    color: $c8

  &__seperator
    display: flex
    justify-content: center
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin-top: rem-calc(30)

    &--active
      transform: translateY(0)
      opacity: 1

  &__orange-line
    background: $c3
    width: 100px
    height: 4px
