.modal-office-tour
  position: fixed
  top: 0
  z-index: 9995
  width: 100%
  height: 100%

  &__bg
    position: relative
    background-color: $c9
    padding-top: rem-calc(128)
    padding-bottom: rem-calc(128)
    height: 100%

    @media(max-width: 768px)
      padding: 0

  &__container
    @extend .container-fluid
    display: flex
    align-items: center
    border-radius: 10px
    background: $c2
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    max-width: 55rem
    height: 75vh
    max-height: 550px

    @media(max-width: 768px)
      height: 100vh
      max-height: none

  &__close
    position: absolute
    top: 18px
    right: 12px
    width: 32px
    height: 32px
    color: $c4

    &::before, &::after
      position: absolute
      left: 15px
      background-color: $c4
      width: 2px
      height: 20px
      content: ' '

    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)

  &__body
    margin: 24px auto 0

  &__slider
    width: 775px

    @media(max-width: 768px)
      width: 320px

  &__slide
    width: 775px
    height: 420px !important

    @media(max-width: 768px)
      width: 320px !important
      height: 300px

  &__pagination-container
    display: flex
    position: relative
    justify-content: center

  &__pagination
    display: flex
    position: relative

  &__bullet
    margin: 28px 3px 0
    border: 1px solid #969696
    border-radius: 50%
    width: 10px
    height: 10px

    &:focus
      outline: none

  &__bullet-active
    background-color: $c10

  &__image
    border-radius: 5px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 100%
    height: 100%

  &__prev-arrow, &__next-arrow
    position: absolute
    top: 50%
    width: 21px

    &:focus
      outline: none

    svg
      fill: $c4


  &__prev-arrow
    left: 1%
    transform: rotate(180deg)

  &__next-arrow
    right: 1%
