*
  font-family: $font-main

a
  text-decoration: none

h1, .h1, %h1
  margin: 0
  line-height: 1
  font-family: $font-main
  font-size: rem-calc(36)
  font-weight: 700

h2, .h2, %h2
  margin: 0
  line-height: 1.4
  font-family: $font-option
  font-size: rem-calc(34)

  // @media (min-width: $screen-md-min)
  //   font-size: rem-calc(32)

h3, .h3, %h3
  margin: 0
  line-height: 1.4
  font-size: rem-calc(24)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(30)

h4, .h4, %h4
  margin: 0
  line-height: 1.5
  font-size: rem-calc(20)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(22)

%p1
  line-height: 1.618
  font-size: rem-calc(17)

%p2
  line-height: 1.618
  font-size: rem-calc(16)

%p3
  line-height: 22px
  font-size: rem-calc(14)
