.inner-container
  max-width: rem-calc(945)

.button
  border: 1px solid $c1
  border-radius: 5px
  background-color: none
  padding: rem-calc(8) rem-calc(20)
  color: $c1

  &:hover
    border: 1px solid $c4
    background-color: $c4
    cursor: pointer

    .block-circles &
      border: 1px solid $c6
      background-color: $c1
      color: $c6

.title
  @extend h1
  text-transform: uppercase
  color: $c5

  &--option
    color: $c4

  span
    color: $c4

.border-bottom
  position: relative
  margin-bottom: rem-calc(80)

  &:after
    position: absolute
    bottom: -40px
    left: 50%
    transform: translateX(-50%)
    border-bottom: 4px solid $c3
    width: 100px
    content: ''
