.footer

  &__bg
    background-color: $c5

  &__bottom-bg
    border-top: 1px solid #979797
    background-color: $c5

  &__container
    @extend .container-fluid
    padding-top: rem-calc(36)
    padding-bottom: rem-calc(18)

  &__bottom-container
    @extend .container-fluid

  &__social-icons
    @extend .col-sm-4
    display: flex

  &__phone-icon, &__email-icon, &__facebook-icon, &__instagram-icon
    margin: 0 0.4rem
    border-radius: 50%
    background: $c1
    width: 40px
    height: 40px

    svg
      fill: $c5

  &__phone-icon
    padding: 8px

  &__email-icon
    padding: 12px 7px 8px

  &__facebook-icon
    padding: 8px 14px 4px

  &__logo
    @extend .col-sm-4

    svg
      width: 220px

  &__address, &__phone-number
    margin-bottom: 12px
    color: $c1
    font-size: 18px
    font-weight: 600

  &__copyright
    @extend .col-sm-offset-8
    @extend .col-sm-4
    padding: 1rem 3rem
    text-align: right
    color: $c1
    font-size: 12px
