.custom-home-section
  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)

  &__title
    @extend .title
    margin-bottom: rem-calc(60)

  &__body
    @extend .col-sm-7
    @extend .col-sm-offset-1

  &__content
    @extend .border-bottom
    position: relative
    margin-bottom: rem-calc(80)

  &__cta
    text-align: center
    color: $c5
    font-family: $font-option
    font-size: 28px

  &__video
    @extend .col-sm-4

  &__image
    margin-top: -50px
    height: rem-calc(325)
