.custom-home-section
  &__container
    @extend .container-fluid
    padding-top: rem-calc(60)
    padding-bottom: rem-calc(60)

  &__title
    @extend .title
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin-bottom: rem-calc(60)

    @media(max-width: 768px)
      margin-bottom: 2.5rem
      text-align: center

    &--active
      transform: translateY(0)
      opacity: 1

  &__body
    @extend .col-sm-7
    @extend .col-sm-offset-1

  &__content
    position: relative

  &__cta
    text-align: center
    color: $c5
    font-family: $font-option
    font-size: 28px

  &__overlay
    @media(max-width: 768px)
      display: flex
      justify-content: center
      margin-top: 3rem

  &__video
    @extend .col-sm-4
    transform: translateX(25px)
    transition: all 0.6s ease
    opacity: 0

    @media(max-width: 768px)
      transform: translateX(0)

    &--active
      transform: translateX(0)
      opacity: 1

  &__image
    transition: all 0.6s ease
    margin-top: -50px
    border-radius: 20px
    box-shadow: 5px 8px 24px 0 rgba(133, 133, 134, 0.2)
    height: rem-calc(325)

    &:hover
      box-shadow: 10px 9px 24px 0 rgba(133, 133, 134, 0.3)

    @media(max-width: 768px)
      margin-top: 0

  &__seperator
    display: flex
    justify-content: center
    transform: translateY(10px)
    transition: all 0.8s ease
    opacity: 0
    margin-top: 2rem
    margin-bottom: 4rem

    @media(max-width: 768px)
      margin-top: 48px

    &--active
      transform: translateY(0)
      opacity: 1

  &__orange-line
    background: $c3
    width: 100px
    height: 4px
